#!/usr/bin/make -f

# prefer Go 1.21
export PATH := /usr/lib/go-1.21/bin:$(PATH)

# circumvent a few problematic (for Debian) Go features inspired by dh-golang
export GOCACHE := $(CURDIR)/.gocache
export GOPROXY := off

include /usr/share/dpkg/pkg-info.mk
PKG := github.com/docker/buildx
LDFLAGS := \
	-X $(PKG)/version.Package=$(PKG) \
	-X $(PKG)/version.Revision=tianon \
	-X $(PKG)/version.Version=$(DEB_VERSION_UPSTREAM_REVISION)

override_dh_auto_build:
	go build \
		-trimpath \
		-mod=vendor \
		-ldflags '$(LDFLAGS)' \
		-o docker-buildx \
		./cmd/buildx

# basic smoke test to ensure binaries built successfully
# (especially since their tests are *really* involved)
override_dh_auto_test:
	./docker-buildx version
	! { ./docker-buildx version | grep -F '0.0.0'; }
	./docker-buildx version | grep -F '$(DEB_VERSION_UPSTREAM)'

override_dh_auto_install:
	@# stop debhelper from doing "make install"
	@# (we use dh_install for installing files where they need to be)

override_dh_auto_clean:
	@# stop debhelper from doing "make clean"

override_dh_dwz:
	@# https://salsa.debian.org/go-team/packages/dh-golang/-/commit/831f3a9dccc14f63f21d3dfac0c0d0e0c25b4084

%:
	dh $@
