#!/usr/bin/make -f

# prefer Go 1.24
export PATH := /usr/lib/go-1.24/bin:$(PATH)

# temporary build path (see http://golang.org/doc/code.html#GOPATH)
OUR_GOPATH := $(CURDIR)/.gopath
export GOPATH := $(OUR_GOPATH)
# circumvent a few problematic (for Debian) Go features inspired by dh-golang
export GOCACHE := $(OUR_GOPATH)/.cache
export GOPROXY := off
export GOTOOLCHAIN := local

export GOFLAGS := -trimpath -mod=vendor

# https://github.com/containerd/containerd/blob/release/1.6/BUILDING.md#build-containerd
export BUILDTAGS := no_aufs no_cri
# no_aufs because AUFS is dead
# no_cri because Tianon doesn't use k8s

include /usr/share/dpkg/pkg-info.mk

override_dh_auto_configure:
	# set up GOPATH symlink farm
	mkdir -p '$(OUR_GOPATH)/src/github.com/containerd'
	ln -sfT '$(CURDIR)' '$(OUR_GOPATH)/src/github.com/containerd/containerd'
	# fix -mod=readonly to be -mod=vendor
	sed -ri -e 's/mod=readonly/mod=vendor/g' Makefile

override_dh_auto_build:
	cd '$(OUR_GOPATH)/src/github.com/containerd/containerd' \
		&& $(MAKE) binaries man \
			VERSION='$(DEB_VERSION_UPSTREAM_REVISION)' \
			REVISION=''

# basic smoke test to ensure binaries built successfully
override_dh_auto_test:
	./bin/containerd --version
	@# "containerd-shim" has no version flag; TODO https://github.com/containerd/containerd/commit/fdbfde5d8101360ad587f527030f25e8d108bfd4 (1.7+ adds -v!)
	./bin/ctr --version

override_dh_installsystemd:
	dh_installsystemd --name=containerd

override_dh_auto_install:
	@# stop debhelper from doing "make install"
	@# (we use dh_install / dh-exec for installing files where they need to be)

override_dh_auto_clean:
	@# stop debhelper from doing "make clean"

override_dh_dwz:
	@# https://salsa.debian.org/go-team/packages/dh-golang/-/commit/831f3a9dccc14f63f21d3dfac0c0d0e0c25b4084

%:
	dh $@ --with=bash-completion
