#!/usr/bin/make -f

# prefer Go 1.24
export PATH := /usr/lib/go-1.24/bin:$(PATH)

# temporary build path (see http://golang.org/doc/code.html#GOPATH)
OUR_GOPATH := $(CURDIR)/.gopath
export GOPATH := $(OUR_GOPATH)
# circumvent a few problematic (for Debian) Go features inspired by dh-golang
export GOCACHE := $(OUR_GOPATH)/.cache
export GOPROXY := off
export GOTOOLCHAIN := local

export GOFLAGS := -trimpath -mod=vendor

# https://github.com/containerd/containerd/blob/release/1.6/BUILDING.md#build-containerd
export BUILDTAGS := no_aufs no_cri
# no_aufs because AUFS is dead
# no_cri because Tianon doesn't use k8s

export CGO_ENABLED := 1
DPKG_EXPORT_BUILDTOOLS := 1
include /usr/share/dpkg/buildtools.mk

# TODO https://bugs.debian.org/960842
include /usr/share/dpkg/architecture.mk
export GOOS := linux
export GOARCH := $(DEB_HOST_ARCH_CPU:el=le)
ifeq ($(GOARCH),i386)
	export GOARCH := 386
endif

include /usr/share/dpkg/pkg-info.mk

GOPATH_SRC_DIR := $(OUR_GOPATH)/src/github.com/containerd/containerd

override_dh_auto_configure:
	# set up GOPATH symlink farm
	mkdir -p '$(dir $(GOPATH_SRC_DIR))'
	ln -sfT '$(CURDIR)' '$(GOPATH_SRC_DIR)'
	# fix -mod=readonly to be -mod=vendor
	sed -ri -e 's/mod=readonly/mod=vendor/g' Makefile

override_dh_auto_build: c8d-binaries c8d-man

c8d-binaries:
	$(MAKE) -C '$(GOPATH_SRC_DIR)' binaries \
		VERSION='$(DEB_VERSION_UPSTREAM_REVISION)' \
		REVISION=''

# man page generation does "go run" which requires "native" os/arch
c8d-man:
	unset GOOS GOARCH \
	&& CGO_ENABLED=0 \
		$(MAKE) -C '$(GOPATH_SRC_DIR)' man

# basic smoke test to ensure binaries built successfully
override_dh_auto_test:
	./bin/containerd --version
	@# "containerd-shim" has no version flag; TODO https://github.com/containerd/containerd/commit/fdbfde5d8101360ad587f527030f25e8d108bfd4 (1.7+ adds -v!)
	./bin/ctr --version

override_dh_installsystemd:
	dh_installsystemd --name=containerd

override_dh_auto_install:
	@# stop debhelper from doing "make install"
	@# (we use dh_install / dh-exec for installing files where they need to be)

override_dh_auto_clean:
	@# stop debhelper from doing "make clean"

override_dh_dwz:
	@# https://salsa.debian.org/go-team/packages/dh-golang/-/commit/831f3a9dccc14f63f21d3dfac0c0d0e0c25b4084

%:
	dh $@ --with=bash-completion
