Source: moby-cli
Section: admin
Priority: optional
Maintainer: Tianon Gravi <tianon@debian.org>
Build-Depends: bash-completion,
               debhelper (>= 12~),
               debhelper-compat (= 12),
               dh-exec,
               go-md2man,
               golang-any (>= 2:1.13~) | golang-go (>= 2:1.13~) | gccgo (>= 4:8~),
               libltdl-dev
Rules-Requires-Root: no
Homepage: https://github.com/docker/cli
Vcs-Browser: https://github.com/tianon/debian-moby
Vcs-Git: https://github.com/tianon/debian-moby.git

Package: moby-cli
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: ca-certificates, git, pigz, xz-utils
Suggests: moby-engine
Conflicts: docker,
           docker-ce,
           docker-ce-cli,
           docker-ee,
           docker-ee-cli,
           docker-engine,
           docker-engine-cs,
           docker.io,
           lxc-docker,
           lxc-docker-virtual-package
Replaces: docker,
          docker-ce,
          docker-ce-cli,
          docker-ee,
          docker-ee-cli,
          docker-engine,
          docker-engine-cs,
          docker.io,
          lxc-docker,
          lxc-docker-virtual-package
Description: Docker container platform (client package)
 Docker is a platform for developers and sysadmins to develop, ship, and run
 applications. Docker lets you quickly assemble applications from components and
 eliminates the friction that can come when shipping code. Docker lets you get
 your code tested and deployed into production as fast as possible.
 .
 This package provides the "docker" client binary (and supporting files).
