#!/usr/bin/make -f

# prefer Go 1.16
export PATH := /usr/lib/go-1.16/bin:$(PATH)

# temporary build path (see http://golang.org/doc/code.html#GOPATH)
OUR_GOPATH := $(CURDIR)/.gopath
export GOPATH := $(OUR_GOPATH)
# circumvent a few problematic (for Debian) Go features inspired by dh-golang
export GOCACHE := $(OUR_GOPATH)/.cache
export GOPROXY := off
export GO111MODULE := off
export GOFLAGS := -trimpath

include /usr/share/dpkg/pkg-info.mk

export VERSION := $(DEB_VERSION_UPSTREAM)
export DOCKER_GITCOMMIT := $(DEB_VERSION_UPSTREAM_REVISION)

override_dh_auto_configure:
	# set up GOPATH symlink farm
	mkdir -p '$(OUR_GOPATH)/src/github.com/docker'
	ln -sfT '$(CURDIR)' '$(OUR_GOPATH)/src/github.com/docker/cli'

override_dh_auto_build:
	DISABLE_WARN_OUTSIDE_CONTAINER=1 \
		make \
			LDFLAGS='' \
			VERSION='$(VERSION)' \
			GITCOMMIT='$(DOCKER_GITCOMMIT)' \
			dynbinary

# https://github.com/docker/cli/blob/v19.03.5/scripts/docs/generate-man.sh
# (replacing hard-coded "/tmp/gen-manpages" with "debian/tmp/gen-manpages")
	cd '$(OUR_GOPATH)/src/github.com/docker/cli' \
		&& export PATH='$(OUR_GOPATH)/bin':"$$PATH" \
		&& sed 's!/tmp/gen-manpages!$(CURDIR)/debian/tmp/gen-manpages!g' scripts/docs/generate-man.sh \
			| bash -x

# basic smoke test to ensure binaries built successfully
# (especially since their tests are *really* involved)
override_dh_auto_test:
	./build/docker --version

override_dh_auto_install:
	@# stop debhelper from doing "make install"
	@# (we use dh_install / dh-exec for installing files where they need to be)

override_dh_auto_clean:
	@# stop debhelper from doing "make clean"

%:
	dh $@ --with=bash-completion
