#!/usr/bin/make -f

# prefer Go 1.19
export PATH := /usr/lib/go-1.19/bin:$(PATH)

# temporary build path (see http://golang.org/doc/code.html#GOPATH)
OUR_GOPATH := $(CURDIR)/.gopath
export GOPATH := $(OUR_GOPATH)
# circumvent a few problematic (for Debian) Go features inspired by dh-golang
export GO111MODULE := off
export GOCACHE := $(OUR_GOPATH)/.cache
export GOPROXY := off
export GOTOOLCHAIN := local

export GOFLAGS := -trimpath

include /usr/share/dpkg/pkg-info.mk

export VERSION := $(DEB_VERSION_UPSTREAM)
export GITCOMMIT := $(DEB_VERSION_UPSTREAM_REVISION)
export GO_LINKMODE := dynamic
export LDFLAGS :=

override_dh_auto_configure:
	# set up GOPATH symlink farm
	mkdir -p '$(OUR_GOPATH)/src/github.com/docker'
	ln -sfT '$(CURDIR)' '$(OUR_GOPATH)/src/github.com/docker/cli'

override_dh_auto_build:
# embed *something* usefully identifying as our "platform"
	set -eux; \
	PLATFORM="$$(awk -F ': ' '$$1 ~ /^Vcs-(Browser|Git)$$/ { print $$2; exit }' debian/control)"; \
	export PLATFORM; \
	scripts/build/binary

# TODO https://github.com/docker/cli/issues/4212 / https://github.com/docker/cli/pull/4228 😭
# https://github.com/docker/cli/blob/v23.0.10/scripts/docs/generate-man.sh
#	mkdir -p man/man1; go run -tags manpages ./man/generate.go --root '.' --target "$$PWD/man/man1"
# for now, we'll generate what we can and leave the rest for future work (😭)
	set -eux; \
	cd '$(OUR_GOPATH)/src/github.com/docker/cli'; \
	cd man; \
	for FILE in *.[0-9].md; do \
		base="$$(basename "$$FILE")"; \
		name="$${base%.md}"; \
		num="$${name##*.}"; \
		mkdir -p "man$${num}"; \
		go-md2man -in "$$FILE" -out "man$$num/$$name"; \
	done

# basic smoke test to ensure binaries built successfully
# (especially since their tests are *really* involved)
override_dh_auto_test:
	./build/docker --version

override_dh_auto_install:
	@# stop debhelper from doing "make install"
	@# (we use dh_install / dh-exec for installing files where they need to be)

override_dh_auto_clean:
	@# stop debhelper from doing "make clean"

override_dh_dwz:
	@# https://salsa.debian.org/go-team/packages/dh-golang/-/commit/831f3a9dccc14f63f21d3dfac0c0d0e0c25b4084

%:
	dh $@ --with=bash-completion
