Source: moby-runc
Section: admin
Priority: optional
Maintainer: Tianon Gravi <tianon@debian.org>
Build-Depends: bash-completion,
               debhelper-compat (= 13),
               go-md2man:native | go-md2man,
               golang-1.23-go:native | golang-1.23-go | golang-go:native (>= 2:1.23~) | golang-go (>= 2:1.23~),
               libseccomp-dev,
               pkgconf
Rules-Requires-Root: no
Homepage: https://github.com/opencontainers/runc
Vcs-Browser: https://github.com/tianon/debian-moby/tree/HEAD/moby-runc/debian
Vcs-Git: https://github.com/tianon/debian-moby.git [moby-runc]

Package: moby-runc
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: moby-containerd
Conflicts: runc
Replaces: runc
Provides: runc
Description: CLI tool for spawning and running containers according to the OCI specification
 runc is a CLI tool for spawning and running containers according to the OCI
 specification.
