Source: moby-runc
Section: admin
Priority: optional
Maintainer: Tianon Gravi <tianon@debian.org>
Build-Depends: bash-completion,
               debhelper (>= 12~),
               debhelper-compat (= 12),
               go-md2man,
               golang-1.13-go | golang-go (>= 2:1.13~) | golang-any (>= 2:1.13~),
               libseccomp-dev,
               pkg-config
Rules-Requires-Root: no
Homepage: https://github.com/opencontainers/runc
Vcs-Browser: https://github.com/tianon/debian-moby
Vcs-Git: https://github.com/tianon/debian-moby.git

Package: moby-runc
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: moby-containerd
Conflicts: runc
Replaces: runc
Provides: runc
Description: CLI tool for spawning and running containers according to the OCI specification
 runc is a CLI tool for spawning and running containers according to the OCI
 specification.
