Source: moby-engine
Section: admin
Priority: optional
Maintainer: Tianon Gravi <tianon@debian.org>
Build-Depends: cmake,
               debhelper-compat (= 13),
               dh-apparmor,
               dh-exec,
               go-md2man,
               golang-1.19-go | golang-go (>= 2:1.19~) | golang-any (>= 2:1.19~),
               libapparmor-dev,
               libbtrfs-dev | btrfs-progs (<< 4.16.1~),
               libdevmapper-dev,
               libltdl-dev,
               libseccomp-dev,
               libsystemd-dev,
               pkg-config
Rules-Requires-Root: no
Homepage: https://github.com/moby/moby
Vcs-Browser: https://github.com/tianon/debian-moby/tree/HEAD/moby-engine/debian
Vcs-Git: https://github.com/tianon/debian-moby.git [moby-engine]

Package: moby-engine
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: apparmor,
            ca-certificates,
            iptables,
            kmod,
            moby-cli,
            moby-containerd (>= 1.2~),
            pigz,
            procps,
            xz-utils
Suggests: cgroupfs-mount | cgroup-lite, git
Conflicts: docker,
           docker-ce,
           docker-ee,
           docker-engine,
           docker-engine-cs,
           docker.io,
           lxc-docker,
           lxc-docker-virtual-package
Replaces: docker,
          docker-ce,
          docker-ee,
          docker-engine,
          docker-engine-cs,
          docker.io,
          lxc-docker,
          lxc-docker-virtual-package
Description: Docker container platform (engine package)
 Docker is a platform for developers and sysadmins to develop, ship, and run
 applications. Docker lets you quickly assemble applications from components and
 eliminates the friction that can come when shipping code. Docker lets you get
 your code tested and deployed into production as fast as possible.
 .
 This package provides the "dockerd" engine service (and supporting files).
